<div class="container-fluid" id="home-main">
  <div class="row-fluid">
    <div class="span6 offset3" id="login">
      <div id="top-heading">
        <h3>Rails Walkthrough App</h3>
        <h5>Connect and share what matters most to you.</h5>
        
        <%= link_to 'Create Account', signup_path %>
        
      </div>
    </div>
  </div>  
</div>