$dark_blue: #20315B;
$blue: #2E4993;
$medium_blue: #3b5998;
$light_blue: #D8DFEA;
$highlight_blue: #D8DFEA;
$icon_blue: #1C2F79;
$comment_blue: #F1F2F6;
$white: #ffffff;
$transparent_white: rgba(255, 255, 255, 0.25);
$black_text: #222222;
$gray_border: #E9E9E9;

$navbarHeight: 37px;
$navbarBackground: $medium_blue;
$navbarBackgroundHighlight: $medium_blue;
$navbarText: $white;
$navbarBrandColor: $white;
$navbarLinkColor: $white;
$navbarLinkColorHover: $white;
$navbarLinkColorActive: $white;
$navbarLinkBackgroundActive: $navbarBackground;
$navbarLinkBackgroundHover: $transparent_white;
$dropdownLinkBackgroundHover: $medium_blue;

$home_page_column_padding: 20px;

@import "bootstrap";

body, html {
  height: 100%;
  font-size: 11px;
}

body {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  line-height: 1.28;
}

p {
  margin: 0px;
  display: inline;
}

li {
  line-height: 1.28;
}

textarea {
  padding: 3px;
}

a:hover {
  text-decoration: none;
}

abbr[title] {
  border-bottom: 0px;
  cursor: text;
}

.hidden {
  display: none;
}

input[type=text], input[type=password], textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.nav-collapse.collapse {
  height: 0px;
}

.column {
  word-wrap: break-word;
}

.modal_border {
  -webkit-box-shadow: 0 0 0px 8px rgba(82, 82, 82, 0.7);
  -moz-box-shadow: 0 0 0px 8px rgba(82, 82, 82, 0.7);
  box-shadow: 0 0 0px 8px rgba(82, 82, 82, 0.7);
}

.navbar {
  line-height: 20px;
  
  .navbar-inner {
    .container-fluid {
      .nav {
        .dropdown {
          .dropdown-menu {
            -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
          }
        }
        
        li {
          line-height: 20px;
          
          .link-icons {
            padding-left: 7px;
            padding-right: 7px;
            color: $light_blue;
          }
        }
      }
    }
  }
}

#signup {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width: 400px;
  
  .first_name {
    float: left;
    width: 181px;
    margin-right: 10px;
  }
  
  .last_name {
    float: left;
    width: 181px;
  }
  
  .full_width {
    width: 386px;
  }
}

.feed-items-all {
  #feed-items {
    margin: 0;
    
    .event-box {
      list-style: none;
      padding-left: 15px;
      border-bottom: 1px solid $gray_border;
      
      .user-picture {
        float: left;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      
      .user-event-inner {
        margin-left: 60px;
        display: block;
        
        .event-inner-wrapper {
          padding-top: 16px;
          margin-bottom: 16px;
          margin-right: 35px;
          
          .main-event-content {
            display: block;
            
            h5 {
              font-size: 13px;
              line-height: 1.38;
              font-weight: normal;
              margin: 0 0 5px 0;
            }
            
            .event-content {
              font-size: 13px;
              line-height: 1.38;
            }
            
            .action-bar {
              font-size: 11px;
              line-height: 1.28;
            }
            
            .event-user-name {
              font-weight: bold;
            }
            
            .event-comments {
              .comments-list {
                margin: 0px;
                
                .comment-wrapper {
                  background-color: $comment_blue;
                  list-style: none;
                  padding: 4px;
                  margin-top: 1px;
                  font-size: 11px;
                  
                  .comment-profile-picture {
                    float: left;
                    margin-right: 8px;
                  }
                  
                  .comment-content {
                    overflow: hidden;
                    display: block;
                    
                    .comment-user-name {
                      font-weight: bold;
                    }
                  }
                  
                  .comment-input {
                    resize: none;
                    height: 20px;
                    font-size: 11px;
                    line-height: 1.28;
                  }
                  
                  .comment-actions {
                    margin-top: 2px;
                  }
                  
                  form.new_comment_form {
                    margin: 0;
                    
                    #event_body {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.has_header {
  padding-top: 37px;
}

#left_column {
  padding-top: $home_page_column_padding;
  
  .column_nav .active a,
  .column_nav .active a:hover {
      background-color: $highlight_blue;
      color: $black_text;
  }
  
  .column_nav a, .column_nav a:hover {
    color: $black_text;
  }
}

#middle_column {
  padding-top: $home_page_column_padding;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-right: 15px;
  min-height: 700px;
  font-size: 13px;
  
  #home_page_update {
    padding-left: 15px;
    
    #status_update_form {
        
      #new_status {
        resize: none;
        font-size: 13px;
        line-height: 1.28;
        height: 16px;
        padding: 7px 5px 5px 5px;
      }
    }
  }
}

#right_column {
  padding-top: $home_page_column_padding;
}